.cardSm {
    width: 134px;
    height: 157px;
    background-color: var(--clr-neutral-0);
    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, .3);
    padding-inline: 5px;
    padding-block: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1.25rem;
}
.cardSm .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5px;
}

.card {
    width: 100%;
    max-width: 447px;
    height: 295px;
    max-height: 391px;
    padding: 2rem;
    background-color: var(--clr-neutral-0);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, .3);
    gap: 1rem;
}
.card .cardHeader {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card .cardHeader .title {
    font-size: 24px;
}
.card .cardContent .listContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.card .cardContent .listContainer .listItem {
    font-size: 14px;
    list-style-type: disc;
    color: var(--clr-neutral-400);
}
.cardLarge {
    width: 100%;
    max-width: 1135px;
    padding: 1rem;
    background-color: var(--clr-neutral-100);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, .3);
    border-radius: 20px;
    color: var(--clr-neutral-400);
}
.cardLarge .hidden {
    height: 0;
    display: flex !important;
    visibility: hidden;
}
.cardLarge .cardHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cardLarge .cardHeader h4 {
    width: 80%;
    font-size: 14px;
    font-weight: 600;
}
